body {
  font-family: sans-serif;
  background-color: lightgreen;
}

nav {
  height: 225px;
  background-color: white;
}

a {
  font-weight:bold;
  font-size: 20px;
  color: black;
  letter-spacing: 1px;
  padding-left: 30px;
}

footer {
  height: 200px;
  background-color: white;
}

.footer {

}

.navigation {
  margin-left: 300px;
  padding-top: 100px;
}

.logo {
  position: fixed;
  margin-left: 20px;
}

.wordmark {
  margin-left: 50px;
  align-items: center;
}

a:link {
  text-decoration: none;
}
